<html>
<head>
  <h2>Dog List</h2>
</head>
<body>
<form action="/" method="post">
  <input type="text" placeholder="Dog Type" name="dog_name">
  <input type="submit" value="Add dog">
</form>
<ul>

    <% doggies.each do |dog_name| %>
     <li> <%= dog_name[:name] %> <a href="dog/<%=dog_name[:id]%>">Show Dog</a>
     </li>
    <% end %>

</ul>


</body>
</html>